In [81]:
import pandas as pd
import re
import numpy as np

In [82]:
df1 = pd.read_csv("/content/drive/MyDrive/kuliah/Smester 5/big data lanjut/fp/emails.csv")
df2 = pd.read_csv("/content/drive/MyDrive/kuliah/Smester 5/big data lanjut/fp/labeled_emails.csv")
df3 = pd.read_csv("/content/drive/MyDrive/kuliah/Smester 5/big data lanjut/fp/completeSpamAssassin.csv")
df4 = pd.read_csv("/content/drive/MyDrive/kuliah/Smester 5/big data lanjut/fp/SMSSpamCollection.csv", sep='\t', names=["text"])

## dataset 1 preprocessing

In [83]:
df1 = df1[['text','spam']]
df1.head()

df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5730 entries, 0 to 5729
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    5730 non-null   object
 1   spam    5728 non-null   object
dtypes: object(2)
memory usage: 89.7+ KB

In [84]:
label = ['1', '0']
df1.isin(label).sum()

text       0
spam    5726
dtype: int64

In [85]:
df1.isna().sum()
df = df1.replace('', 'nan')
df1 = df1.dropna()
df1.isna().sum()

text    0
spam    0
dtype: int64

In [86]:
df1.isnull().sum()

text    0
spam    0
dtype: int64

In [87]:
print(df1["spam"].unique())

['1' '0'
 ' its termination would not  have such a phenomenal impact on the power situation .  however '
 ' mr suresh prabhu ']

In [88]:
df1 = df1.query("spam == '1' | spam == '0'")
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5726 entries, 0 to 5729
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    5726 non-null   object
 1   spam    5726 non-null   object
dtypes: object(2)
memory usage: 134.2+ KB

In [89]:
df1["spam"] = df1["spam"].astype(int)
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5726 entries, 0 to 5729
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    5726 non-null   object
 1   spam    5726 non-null   int64
dtypes: int64(1), object(1)
memory usage: 134.2+ KB

In [90]:
df1['text'] = df1['text'].str.replace(r'Subject: ', '', regex=True)
df1['text'] = df1['text'].str.replace(r're : ', '', regex=True)
df1['text'] = df1['text'].str.replace(r'\n', ' ', regex=True)
df1['text'] = df1['text'].str.replace(r'\t', ' ', regex=True)

In [91]:
df1.head()

                                                text  spam
0  naturally irresistible your corporate identity...     1
1  the stock trading gunslinger  fanny is merrill...     1
2  unbelievable new homes made easy  im wanting t...     1
3  4 color printing special  request additional i...     1
4  do not have money , get software cds from here...     1

In [92]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5726 entries, 0 to 5729
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    5726 non-null   object
 1   spam    5726 non-null   int64
dtypes: int64(1), object(1)
memory usage: 134.2+ KB

## dataset 2 preprocessing

In [93]:
df2.rename(columns = {'email':'text', 'label':'spam'}, inplace = True)
df2.head()

                                                text spam
0                Subject: re : rankings\nthank you .  ham
1  Subject: re : visit to enron\nvince ,\ndec . 2...  ham
2  Subject: research group move to the 19 th floo...  ham
3  Subject: christmas baskets\nthe christmas bask...  ham
4  Subject: japan candidate\nvince ,\ni spoke wit...  ham

In [94]:
df2.spam[df2.spam == 'spam'] = 1
df2.spam[df2.spam == 'ham'] = 0

df2.head()

                                                text spam
0                Subject: re : rankings\nthank you .    0
1  Subject: re : visit to enron\nvince ,\ndec . 2...    0
2  Subject: research group move to the 19 th floo...    0
3  Subject: christmas baskets\nthe christmas bask...    0
4  Subject: japan candidate\nvince ,\ni spoke wit...    0

In [95]:
df2['spam'] = df2['spam'].astype('int')
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5854 entries, 0 to 5853
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    5854 non-null   object
 1   spam    5854 non-null   int64
dtypes: int64(1), object(1)
memory usage: 91.6+ KB

In [96]:
df2['text'] = df2['text'].str.replace(r'Subject: ', '', regex=True)
df2['text'] = df2['text'].str.replace(r're : ', '', regex=True)
df2['text'] = df2['text'].str.replace(r'\n', ' ', regex=True)
df2['text'] = df2['text'].str.replace(r'\t', ' ', regex=True)

df2.head()
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5854 entries, 0 to 5853
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    5854 non-null   object
 1   spam    5854 non-null   int64
dtypes: int64(1), object(1)
memory usage: 91.6+ KB

## dataset 3 preprocessing

In [97]:
df3 = df3[['Body','Label']]
df3.rename(columns = {'Body':'text', 'Label':'spam'}, inplace = True)
df3.head()

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

                                                text  spam
0  \nSave up to 70% on Life Insurance.\nWhy Spend...     1
1  1) Fight The Risk of Cancer!\nhttp://www.adcli...     1
2  1) Fight The Risk of Cancer!\nhttp://www.adcli...     1
3  ##############################################...     1
4  I thought you might like these:\n1) Slim Down ...     1

In [98]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6046 entries, 0 to 6045
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    6045 non-null   object
 1   spam    6046 non-null   int64
dtypes: int64(1), object(1)
memory usage: 94.6+ KB

In [99]:
df3['text'] = df3['text'].str.replace(r'ham\t', '', regex=True)
df3['text'] = df3['text'].str.replace(r'spam\t', '', regex=True)
df3['text'] = df3['text'].str.replace(r'\n', ' ', regex=True)
df3['text'] = df3['text'].str.replace(r'\t', ' ', regex=True)

In [100]:
df3.head()

                                                text  spam
0   Save up to 70% on Life Insurance. Why Spend M...     1
1  1) Fight The Risk of Cancer! http://www.adclic...     1
2  1) Fight The Risk of Cancer! http://www.adclic...     1
3  ##############################################...     1
4  I thought you might like these: 1) Slim Down -...     1

In [101]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6046 entries, 0 to 6045
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    6045 non-null   object
 1   spam    6046 non-null   int64
dtypes: int64(1), object(1)
memory usage: 94.6+ KB

## dataset 4 preprocessing

In [102]:
df4.head()

                                                text
0  ham\tGo until jurong point, crazy.. Available ...
1                 ham\tOk lar... Joking wif u oni...
2  spam\tFree entry in 2 a wkly comp to win FA Cu...
3  ham\tU dun say so early hor... U c already the...
4  ham\tNah I don't think he goes to usf, he live...

In [103]:
df4['splited'] = df4['text'].str.split(pat='\t')
df4['spam'] = df4['splited']
for index, i in df4.iterrows():
  df4['spam'][index] = df4['splited'][index][0]
  re.sub('ham\t', '', df4['text'][index])
df4.head()

,text,splited,spam
0,"ham\tGo until jurong point, crazy.. Available ...","[ham, Go until jurong point, crazy.. Available...",ham
1,ham\tOk lar... Joking wif u oni...,"[ham, Ok lar... Joking wif u oni...]",ham
2,spam\tFree entry in 2 a wkly comp to win FA Cu...,"[spam, Free entry in 2 a wkly comp to win FA C...",spam
3,ham\tU dun say so early hor... U c already the...,"[ham, U dun say so early hor... U c already th...",ham
4,"ham\tNah I don't think he goes to usf, he live...","[ham, Nah I don't think he goes to usf, he liv...",ham

In [104]:
# remove ham\t or spam\t with regex
df4['text'] = df4['text'].str.replace(r'ham\t', '', regex=True)
df4['text'] = df4['text'].str.replace(r'spam\t', '', regex=True)
df4['text'] = df4['text'].str.replace(r'\n', ' ', regex=True)
df4['text'] = df4['text'].str.replace(r'\t', ' ', regex=True)

In [105]:
# remove unused column
df4 = df4[['text','spam']]
df4.head()

                                                text  spam
0  Go until jurong point, crazy.. Available only ...   ham
1                      Ok lar... Joking wif u oni...   ham
2  Free entry in 2 a wkly comp to win FA Cup fina...  spam
3  U dun say so early hor... U c already then say...   ham
4  Nah I don't think he goes to usf, he lives aro...   ham

In [106]:
# standarized spam label to 1 or 0 which 1 for spam and 0 for ham
df4.spam[df4.spam == 'spam'] = 1
df4.spam[df4.spam == 'ham'] = 0

/usr/local/lib/python3.8/dist-packages/pandas/core/generic.py:8870: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [107]:
df4['spam'] = df4['spam'].astype('int')
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5574 entries, 0 to 5573
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    5574 non-null   object
 1   spam    5574 non-null   int64
dtypes: int64(1), object(1)
memory usage: 87.2+ KB

<ipython-input-107-1c2beea78802>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['spam'] = df4['spam'].astype('int')

In [108]:
df4.head()

                                                text  spam
0  Go until jurong point, crazy.. Available only ...     0
1                      Ok lar... Joking wif u oni...     0
2  Free entry in 2 a wkly comp to win FA Cup fina...     1
3  U dun say so early hor... U c already then say...     0
4  Nah I don't think he goes to usf, he lives aro...     0

In [109]:
df = df1
df = df.append(df2)
df = df.append(df3)
df = df.append(df4)

print(df)

                                                   text  spam
0     naturally irresistible your corporate identity...     1
1     the stock trading gunslinger  fanny is merrill...     1
2     unbelievable new homes made easy  im wanting t...     1
3     4 color printing special  request additional i...     1
4     do not have money , get software cds from here...     1
...                                                 ...   ...
5569  This is the 2nd time we have tried 2 contact u...     1
5570               Will ü b going to esplanade fr home?     0
5571  Pity, * was in mood for that. So...any other s...     0
5572  The guy did some bitching but I acted like i'd...     0
5573                         Rofl. Its true to its name     0

[23200 rows x 2 columns]

In [110]:
# remove tandabaca
symbols = "!\"#$%&()*+-./:;<=>?@[\]^_`{|}~\n"

In [111]:
df['text']

0       naturally irresistible your corporate identity...
1       the stock trading gunslinger  fanny is merrill...
2       unbelievable new homes made easy  im wanting t...
3       4 color printing special  request additional i...
4       do not have money , get software cds from here...
                              ...
5569    This is the 2nd time we have tried 2 contact u...
5570                 Will ü b going to esplanade fr home?
5571    Pity, * was in mood for that. So...any other s...
5572    The guy did some bitching but I acted like i'd...
5573                           Rofl. Its true to its name
Name: text, Length: 23200, dtype: object

In [112]:
df['text'] = df['text'].astype('str')

In [125]:
df['text'][0].dtype

dtype('O')

In [114]:
df1['text'][0]

"naturally irresistible your corporate identity  lt is really hard to recollect a company : the  market is full of suqgestions and the information isoverwhelminq ; but a good  catchy logo , stylish statlonery and outstanding website  will make the task much easier .  we do not promise that havinq ordered a iogo your  company will automaticaily become a world ieader : it isguite ciear that  without good products , effective business organization and practicable aim it  will be hotat nowadays market ; but we do promise that your marketing efforts  will become much more effective . here is the list of clear  benefits : creativeness : hand - made , original logos , specially done  to reflect your distinctive company image . convenience : logo and stationery  are provided in all formats ; easy - to - use content management system letsyou  change your website content and even its structure . promptness : you  will see logo drafts within three business days . affordability : your  marketing break - through shouldn ' t make gaps in your budget . 100 % satisfaction  guaranteed : we provide unlimited amount of changes with no extra fees for you to  be surethat you will love the result of this collaboration . have a look at our  portfolio _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ not interested . . . _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _"

In [114]:
# install pyspark

In [127]:
!pip install -q findspark
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.8/dist-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.8/dist-packages (from pyspark) (0.10.9.5)

In [128]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('nlp').getOrCreate()
#data = spark.read.csv("smsspamcollection/SMSSpamCollection",inferSchema=True,sep='\t')
#data = data.withColumnRenamed('_c0','class').withColumnRenamed('_c1','text')

In [129]:
sparkDF=spark.createDataFrame(df)

In [130]:
sparkDF.show()

+--------------------+----+
|                text|spam|
+--------------------+----+
|naturally irresis...|   1|
|the stock trading...|   1|
|unbelievable new ...|   1|
|4 color printing ...|   1|
|do not have money...|   1|
|great nnews  hell...|   1|
|here ' s a hot pl...|   1|
|save your money b...|   1|
|undeliverable : h...|   1|
|save your money b...|   1|
|las vegas high ri...|   1|
|save your money b...|   1|
|brighten those te...|   1|
|wall street pheno...|   1|
|fpa notice : ebay...|   1|
|search engine pos...|   1|
|only our software...|   1|
|localized softwar...|   1|
|security alert - ...|   1|
|21 st century web...|   1|
+--------------------+----+
only showing top 20 rows

In [131]:
from pyspark.sql.functions import length
data = sparkDF.withColumn('length',length(sparkDF['text']))
data.show()

+--------------------+----+------+
|                text|spam|length|
+--------------------+----+------+
|naturally irresis...|   1|  1475|
|the stock trading...|   1|   589|
|unbelievable new ...|   1|   439|
|4 color printing ...|   1|   491|
|do not have money...|   1|   226|
|great nnews  hell...|   1|   469|
|here ' s a hot pl...|   1|  9331|
|save your money b...|   1|   437|
|undeliverable : h...|   1|   498|
|save your money b...|   1|   437|
|las vegas high ri...|   1|   700|
|save your money b...|   1|   437|
|brighten those te...|   1|   870|
|wall street pheno...|   1|  8187|
|fpa notice : ebay...|   1|   675|
|search engine pos...|   1|   991|
|only our software...|   1|   206|
|localized softwar...|   1|   654|
|security alert - ...|   1|    71|
|21 st century web...|   1|  2551|
+--------------------+----+------+
only showing top 20 rows

In [133]:
data.groupby('spam').mean().show()

+----+---------+------------------+
|spam|avg(spam)|       avg(length)|
+----+---------+------------------+
|   0|      0.0| 1197.731943031536|
|   1|      1.0|1357.1888848528877|
+----+---------+------------------+

In [134]:
from pyspark.ml.feature import Tokenizer,StopWordsRemover, CountVectorizer,IDF,StringIndexer
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.linalg import Vector

In [144]:
tokenizer = Tokenizer(inputCol="text", outputCol="token_text")
stopremove = StopWordsRemover(inputCol='token_text',outputCol='stop_tokens')
count_vec = CountVectorizer(inputCol='stop_tokens',outputCol='c_vec')
idf = IDF(inputCol="c_vec", outputCol="tf_idf")
ham_spam_to_num = StringIndexer(inputCol='spam',outputCol='label')
clean_up = VectorAssembler(inputCols=['tf_idf','length'],outputCol='features')

In [145]:
from pyspark.ml.classification import NaiveBayes
# Use defaults
nb = NaiveBayes()

In [146]:
from pyspark.ml import Pipeline
data_prep_pipe = Pipeline(stages=[ham_spam_to_num,tokenizer,stopremove,count_vec,idf,clean_up])
cleaner = data_prep_pipe.fit(data)
clean_data = cleaner.transform(data)

In [147]:
clean_data = clean_data.select(['label','features'])
clean_data.show()

+-----+--------------------+
|label|            features|
+-----+--------------------+
|  1.0|(168433,[0,1,2,3,...|
|  1.0|(168433,[0,36,50,...|
|  1.0|(168433,[0,1,2,3,...|
|  1.0|(168433,[0,1,2,3,...|
|  1.0|(168433,[0,2,3,12...|
|  1.0|(168433,[0,1,2,3,...|
|  1.0|(168433,[0,1,2,3,...|
|  1.0|(168433,[0,1,2,14...|
|  1.0|(168433,[0,1,2,3,...|
|  1.0|(168433,[0,1,2,14...|
|  1.0|(168433,[0,1,2,3,...|
|  1.0|(168433,[0,1,2,14...|
|  1.0|(168433,[0,2,3,5,...|
|  1.0|(168433,[0,1,2,3,...|
|  1.0|(168433,[0,1,2,3,...|
|  1.0|(168433,[0,2,3,5,...|
|  1.0|(168433,[0,1,2,3,...|
|  1.0|(168433,[0,1,2,3,...|
|  1.0|(168433,[0,1,6,41...|
|  1.0|(168433,[0,1,2,3,...|
+-----+--------------------+
only showing top 20 rows

In [148]:
(training,testing) = clean_data.randomSplit([0.7,0.3])
spam_predictor = nb.fit(training)
test_results = spam_predictor.transform(testing)
test_results.show()

+-----+--------------------+--------------------+-----------+----------+
|label|            features|       rawPrediction|probability|prediction|
+-----+--------------------+--------------------+-----------+----------+
|  0.0|(168433,[0,1,2,3,...|[-71458.850969904...|  [1.0,0.0]|       0.0|
|  0.0|(168433,[0,1,2,3,...|[-21805.153231282...|  [1.0,0.0]|       0.0|
|  0.0|(168433,[0,1,2,3,...|[-17974.230772697...|  [1.0,0.0]|       0.0|
|  0.0|(168433,[0,1,2,3,...|[-14434.841069536...|  [1.0,0.0]|       0.0|
|  0.0|(168433,[0,1,2,3,...|[-13640.723441867...|  [1.0,0.0]|       0.0|
|  0.0|(168433,[0,1,2,3,...|[-11719.058096593...|  [1.0,0.0]|       0.0|
|  0.0|(168433,[0,1,2,3,...|[-43196.191413290...|  [1.0,0.0]|       0.0|
|  0.0|(168433,[0,1,2,3,...|[-14069.257555493...|  [1.0,0.0]|       0.0|
|  0.0|(168433,[0,1,2,3,...|[-14077.136973194...|  [1.0,0.0]|       0.0|
|  0.0|(168433,[0,1,2,3,...|[-17401.621985903...|  [1.0,0.0]|       0.0|
|  0.0|(168433,[0,1,2,3,...|[-9864.4418900884...|  [1.0,0.0]|       0.0|
|  0.0|(168433,[0,1,2,3,...|[-10272.352377962...|  [1.0,0.0]|       0.0|
|  0.0|(168433,[0,1,2,3,...|[-18564.840684223...|  [1.0,0.0]|       0.0|
|  0.0|(168433,[0,1,2,3,...|[-16812.502543439...|  [1.0,0.0]|       0.0|
|  0.0|(168433,[0,1,2,3,...|[-9777.8658505611...|  [1.0,0.0]|       0.0|
|  0.0|(168433,[0,1,2,3,...|[-7685.1578066412...|  [1.0,0.0]|       0.0|
|  0.0|(168433,[0,1,2,3,...|[-16288.681496560...|  [1.0,0.0]|       0.0|
|  0.0|(168433,[0,1,2,3,...|[-12597.862997654...|  [1.0,0.0]|       0.0|
|  0.0|(168433,[0,1,2,3,...|[-13780.845083796...|  [1.0,0.0]|       0.0|
|  0.0|(168433,[0,1,2,3,...|[-13784.784792647...|  [1.0,0.0]|       0.0|
+-----+--------------------+--------------------+-----------+----------+
only showing top 20 rows

In [149]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
acc_eval = MulticlassClassificationEvaluator()
acc = acc_eval.evaluate(test_results)
print("Accuracy of model at predicting spam was: {}".format(acc))

Accuracy of model at predicting spam was: 0.923107738167058